
$blue700: #030416;
$white: #fff;
$black: #000;
$lightGreen: #28CE8A;
$grey100: #D8D8D8;
$black100: #181C2A;
$grey200: rgba(241, 236, 255, 0.175);
$grey300: rgba(255, 255, 255, 0.6);
$green150: rgba(0, 169, 144, 0.39);
$blue150: rgba(3, 86, 163, 0.397);
$purple150: rgba(85, 0, 169, 0.39);
$grey400: #2C2D42;
$grey500:#18192A;
$brown700: #3E2701;
$black200: #1E1E1E;
$grey600: #64748B;
$grey700: #E7EAEE;